// ----------------------------------------------------------------------
// COLORS
// ----------------------------------------------------------------------

$bright-green:       #43c83c;
$muted-green:        #8e8c4c;
$light-muted-green:  #99aa99;
$super-light-green:  #ebf9d5;
$primary-green:      #42a948;
$medium-dark-green:  #3a591d;
$dark-green:         #304918;

$purple:             #6639b6;
$muted-purple:       #7c6ebc;
$bright-purple:      #932ab6;
$light-purple:       #adaabd;
$super-light-purple: #e2d7f2;

$muted-blue:         #5f7d99;
$dark-blue:          #1171a3;
$muted-primary-blue: #93a1ad;
$primary-blue:       #428bca;
$middle-blue:        #428ace;
$light-blue:         #7ac0da;
$info-blue:          #5bc0de;
$muted-info-blue:    #90ccde;
$super-light-blue:   #eeeeff;
$medium-light-blue:  #dfe5eb;

$dark-red:           #991f1f;
$bright-red:         #ff3333;
$soft-red:           #d9534f;
$super-light-red:    #ffeeee;
$dark-muted-red:     #ad7771;
$pink:               #ff7d99;
$muted-pink:         #e91e63;
$form-red:           #a94442;

$darker-orange:      #d4652f;
$dark-orange:        #dc6226;
$orange:             #f88529;
$medium-orange:      #fe9700;
$bright-orange:      #eb9316;
$primary-orange:     #eb8428;
$muted-orange:       #f0ad4e;
$amber:              #ffc107;
$light-orange:       #f0cd9c;
$soft-yellow:        #fffddd;

$primary:            #3f51b5;
$success:            #4caf50;
$warning:            #fe9700;
$info:               #2095f2;
$danger:             #f34235;

$pure-white:         #ffffff;
$pure-black:         #000000;
$pure-red:           #ff0000;
$pure-green:         #00ff00;
$pure-blue:          #0000ff;

$gray-1:             #111111;
$gray-2:             #222222;
$gray-3:             #333333;
$gray-4:             #444444;
$gray-5:             #555555;
$gray-6:             #666666;
$gray-7:             #777777;
$gray-8:             #888888;
$gray-9:             #999999;
$gray-a:             #aaaaaa;
$gray-b:             #bbbbbb;
$gray-c:             #cccccc;
$gray-d:             #dddddd;
$gray-e:             #eeeeee;

$maingray:           #2d2d30;
$primary-gray:       #bdbebf;
$graystone:          #e1e1f2;
$header-gray:        #dcdcdc;
$odd-gray:           #333333;
$even-gray:          #3b3b3b;

$selected-background: #444444;
